body {
  font-family: "Book Antiqua", sans-serif;
  color: white;
}

h1 {
  font-family: "Book Antiqua";
  font-size: 56px;
  color: white;
}

h2,
h3 {
  font-family: "Book Antiqua";
  color: white;
}

header h2 {
  color: white;
  text-shadow: 1px 1px rgba(70, 130, 180, 0.8);
}

.jumbotron {
  padding: 30px;
  background-color: rgba(255, 192, 203, 0.8);
  color: linen;
  margin: 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: palevioletred;
}

.breadcrumb {
  background-color: rgb(68, 7, 45);
}
